Repository solve-ease/OrchardEyes, pull requests merged in 2024-11, with the labels that each got.

#4 Completed home page and fixed error
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/OrchardCard.jsx
  frontend/src/main.jsx
Labels: frontend, UI, config

#6 completed authentication using auth0 and started farm-management page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/assets/img/apple_for_chart.png
  frontend/src/assets/img/leaf_for_chart.svg
  frontend/src/assets/img/sun_cloud.svg
  frontend/src/assets/models-report-img/F1_curve.png
  frontend/src/assets/models-report-img/R_curve.png
  frontend/src/assets/models-report-img/apple-count-map50-95.png
  frontend/src/assets/models-report-img/apple-count-map50.png
  frontend/src/assets/models-report-img/apple-count-precision.png
  frontend/src/assets/models-report-img/apple-count-recall.png
  frontend/src/assets/models-report-img/apple-disease-accuracy.png
  frontend/src/assets/models-report-img/apple-disease-loss.png
  frontend/src/assets/models-report-img/apple-disease-lr.png
  frontend/src/assets/models-report-img/apple-leaves-variety.jpeg
  frontend/src/assets/models-report-img/confusion_matrix(1).png
  frontend/src/assets/models-report-img/image.png
  frontend/src/assets/models-report-img/leaves-variety2.jpeg
  frontend/src/assets/models-report-img/tree-part-classification.jpg
  frontend/src/assets/models-report-img/tree-part-classification2.jpg
  frontend/src/assets/models-report-img/tree-part-mAP50-95.png
  frontend/src/assets/models-report-img/tree-part-mAP50.png
  frontend/src/assets/models-report-img/tree-part-precision.png
  frontend/src/assets/models-report-img/tree-part-recall.png
  frontend/src/assets/models-report-img/val_batch0_pred.jpg
  frontend/src/assets/models-report-img/val_batch1_labels.jpg
  frontend/src/assets/models-report-img/val_batch1_pred.jpg
  frontend/src/components/Auth.jsx
  frontend/src/components/Card.jsx
  frontend/src/components/Chatbot.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/charts/AnnualYield.jsx
  frontend/src/components/charts/ChemicalUsage.jsx
  frontend/src/components/charts/DoughnutChartWithImage.jsx
  frontend/src/components/charts/GradeOfApples.jsx
  frontend/src/components/charts/HarvestPeriod.jsx
  frontend/src/components/charts/HeatPIH.jsx
  frontend/src/components/charts/LeafDiseaseChart.jsx
  frontend/src/components/charts/PestInfectionHistoryLineGraph.jsx
  frontend/src/components/charts/PieChart.jsx
  frontend/src/components/charts/ScatterPIH.jsx
  frontend/src/components/charts/TimeLinePIH.jsx
  frontend/src/main.jsx
  frontend/src/pages/FarmManagement.jsx
  frontend/vite.config.js
Labels: frontend, UI, config

#5 added the OwnerPage
  frontend/src/App.jsx
  frontend/src/components/Footer.jsx
  frontend/src/components/OwnerPage.jsx
Labels: frontend, UI

#7 feat: Added side bar left and right and fixed errors
  frontend/.env
  frontend/src/components/SideBarLeft.jsx
  frontend/src/components/SideBarRight.jsx
  frontend/src/main.jsx
Labels: frontend, UI

#14 Chatbot/feature Addition
  experiments/notebooks/apple-orchard-rag-chatbot.ipynb
  experiments/scripts/chatbot/gradioApp.py
  experiments/scripts/chatbot/src/helper.py
  experiments/scripts/chatbot/src/prompt.py
  experiments/scripts/chatbot/streamlitApp.py
  experiments/scripts/phase3/detect.py
  experiments/scripts/phase3/info.md
Labels: documentation

#15 feat: Added 3d models, protected route
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/assets/3dmodels/drone.gltf
  frontend/src/assets/3dmodels/drone_0.bin
  frontend/src/assets/img/logo-small.png
  frontend/src/auth/Auth0ProviderWithHistory.jsx
  frontend/src/components/Auth.jsx
  frontend/src/components/Button.jsx
  frontend/src/components/Drone3d.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/ProtectedRoute.jsx
  frontend/src/components/charts/LineChart.jsx
  frontend/src/components/charts/PrecisonMap.jsx
  frontend/src/components/connectDrone.jsx
  frontend/src/main.jsx
  frontend/src/pages/FarmManagement.jsx
  frontend/vite.config.js
Labels: frontend, UI, config

#16 Fixed route error and added orchard page
  frontend/src/App.jsx
  frontend/src/components/Auth.jsx
  frontend/src/components/OrchardCard.jsx
  frontend/src/components/Rating.jsx
  frontend/src/components/connectDrone.jsx
  frontend/src/pages/FarmManagement.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/OrchardPage.jsx
Labels: frontend, UI
